<ul class="sidebar navbar-nav">
    <li class="nav-item">
        <NavLink class="nav-link" href="" ActiveClass="btn btn-primary">
            <i class="fas fa-fw fa-user-alt"></i>
            <span>Home</span>
        </NavLink>
    </li>
    <li class="nav-item">
        <NavLink class="nav-link" href="channels" ActiveClass="btn btn-primary">
            <i class="fas fa-fw fa-user-alt"></i>
            <span>Channels</span>
        </NavLink>
    </li>

    <li class="nav-item">
        <NavLink class="nav-link" href="single-channel" ActiveClass="btn btn-primary">
            <i class="fas fa-fw fa-user-alt"></i>
            <span>Single Channel</span>
        </NavLink>
    </li>
    <li class="nav-item">
        <NavLink class="nav-link" href="video-page" ActiveClass="btn btn-primary">
            <i class="fas fa-fw fa-user-alt"></i>
            <span>Video Page</span>
        </NavLink>
    </li>
    <li class="nav-item">
        <NavLink class="nav-link" href="upload-video" ActiveClass="btn btn-primary">
            <i class="fas fa-fw fa-user-alt"></i>
            <span>Upload Video</span>
        </NavLink>
    </li>
    <li class="nav-item">
        <NavLink class="nav-link" href="history" ActiveClass="btn btn-primary">
            <i class="fas fa-fw fa-user-alt"></i>
            <span>History Page</span>
        </NavLink>
    </li>
    @*<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="categories.html" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <i class="fas fa-fw fa-list-alt"></i>
    <span>Categories</span>
    </a>
    <div class="dropdown-menu">
    <a class="dropdown-item" href="categories.html">Movie</a>
    <a class="dropdown-item" href="categories.html">Music</a>
    <a class="dropdown-item" href="categories.html">Television</a>
    <a class="dropdown-item" href="categories.html">Jeskeits</a>
    </div>
    </li>*@
    <li class="nav-item channel-sidebar-list">
        <h6>SUBSCRIPTIONS</h6>
        <ul>
            <NavLink class="nav-link" href="subscriptions">
                <img class="img-fluid" alt="" src="img/s11.png"> Movies
            </NavLink>
            <NavLink class="nav-link" href="subscriptions">
                <img class="img-fluid" alt="" src="img/s10.png"> Music  <span class="badge badge-warning">2</span>
            </NavLink>
            <NavLink class="nav-link" href="subscriptions">
                <img class="img-fluid" alt="" src="img/s1.png">  Television
            </NavLink>
            <NavLink class="nav-link" href="subscriptions">
                <img class="img-fluid" alt="" src="img/s3.png"> Jeskeits
            </NavLink>

        </ul>
    </li>
    <li class="nav-item channel-sidebar-list">
        <ul>
            <li class="nav-item">
                <a class="nav-link" href="https://jeskei.com">
                    <i class="fas fa-fw fa-home"></i>
                    <span>Back to site</span>
                </a>
            </li>
        </ul>
    </li>
</ul>

@*<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
    <a class="navbar-brand" href="">JeskeiPortal</a>
    <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
    <span class="navbar-toggler-icon"></span>
    </button>
    </div>
    </div>

    <div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
    <div class="nav-item px-3">
    <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
    <span class="oi oi-home" aria-hidden="true"></span> Home
    </NavLink>
    </div>
    <div class="nav-item px-3">
    <NavLink class="nav-link" href="counter">
    <span class="oi oi-plus" aria-hidden="true"></span> Channels
    </NavLink>
    </div>
    <div class="nav-item px-3">
    <NavLink class="nav-link" href="fetchdata">
    <span class="oi oi-list-rich" aria-hidden="true"></span> History Page
    </NavLink>
    </div>
    </nav>

    <nav class="flex-column">
    <h6>SUBSCRIPTIONS</h6>
    <div class="nav-item px-3">
    <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
    <span class="oi oi-home" aria-hidden="true"></span> Movies
    </NavLink>
    </div>
    <div class="nav-item px-3">
    <NavLink class="nav-link" href="counter">
    <span class="oi oi-plus" aria-hidden="true"></span> Music
    </NavLink>
    </div>
    <div class="nav-item px-3">
    <NavLink class="nav-link" href="fetchdata">
    <span class="oi oi-list-rich" aria-hidden="true"></span> Television
    </NavLink>
    </div>
    <div class="nav-item px-3">
    <NavLink class="nav-link" href="fetchdata">
    <span class="oi oi-list-rich" aria-hidden="true"></span> Jeskeits
    </NavLink>
    </div>
    </nav>
    </div>

    @code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
    collapseNavMenu = !collapseNavMenu;
    }
    }
*@
